.section_four{
    height: 640px;
}


.container_section_four{
  
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 640px;
    margin: auto;
}

.section_four__content{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

